@font-face {
  font-family: 'SacheonHangGong';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SacheonHangGong/SacheonHangGong-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/SacheonHangGong/SacheonHangGong-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/SacheonHangGong/SacheonHangGong-Regular.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/SacheonHangGong/SacheonHangGong-Regular.ttf') format('truetype');
}